@mixin flex($justify-content, $align-items) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin flex-column($justify-content, $align-items, $column) {
	display: flex;
	flex-direction: $column;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin grid($columns, $rows) {
	display: grid;
	grid-template-columns: $columns;
	grid-template-rows: $rows;
}
