.sale {
	@include grid(2fr repeat(2, 1fr), repeat(2, 1fr));
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	.collection {
		background-color: #5b03ff;
		padding: 10px;
		border-radius: 10px;
		border: 1px solid rgb(247, 0, 0);
		.box-1 {
			grid-area: 1 / 1 / 3 / 2;
		}
		.box-2 {
			grid-area: 1 / 2 / 2 / 3;
		}
		.box-3 {
			grid-area: 1 / 3 / 3 / 4;
		}
		.box-4 {
			grid-area: 2 / 2 / 3 / 3;
		}
	}
}
