@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// на майбутнє, для mixin чи var

.montserrat-font {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.inter-font {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-style: normal;
}

// font-weight
// 300 400 500 700


// font-size & line-height
// montserrat 16 400 19.5


// line-height:
// 24.38px;
// 19.5px
// 16.94px
// 21.78px
// 43.57px
// 29.05px